<ion-view view-title="Propose A Wager">
  <ion-content>
    <h1>Propose A Wager</h1>
    <form class="" action="index.html" method="post">

      <label for="gameTitle">Game Title</label>
      <input type="text" name="GameTitle" placeholder="Game Title"></input>
      <label for="gameWinner">Winner</label>
      <input type="text" name="gameWinner" placeholder="Winner"></input>

        <label for="amount">Amount</label>
      <input type="number" name="amount" placeholder="$hitcoins"></input>

    </form>
  </ion-content>
</ion-view>
